<section class="welcome-title">
  <h3 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">Welcome to <span>Ghumo India Community</span></h3>
</section>
<%= render 'homes/upcoming_trip' %>

