<section class="about-us-wrapper">
  <img class="bg-doodle" src="<%= asset_path 'about-doodle.jpeg' %>" alt="doodle">
  <div class="container">
    <!-- title -->
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100" class="common-heading-wrapper">
      <h3>About Us</h3>
      <h4>About Us</h4>
      <span class="line-x"></span>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="left-sec-img" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="10">
          <img src="<%= asset_path 'brand-logo.png' %>" alt="logo">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="about-right-sec" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="10">
          <h3>About Us</h3>
          <p>“Ghumo India Community is a travel community based in India that aims to promote responsible and sustainable tourism in the country. The community consists of individuals who are passionate about traveling and exploring different parts of India. They share their travel experiences, tips, and advice with fellow travelers through various online platforms such as social media, blogs, and forums”</p>
          <button class="read-more-btn btn" type="button"><a class="read-more-btn btn" href="about_us">Know More...</a></button>
        </div>
      </div>
    </div>
  </div>
</section>