<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'T&C.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">CANCELLATION POLICY</h3>
</section>

<section class="term-condition-wrapper">
  <div class="container">
    <h2>CANCELLATION POLICY</h2>
    <ul>
      <li>Booking Amount is Non Refundable.</li>
      <li>No cancellations will be taken over phone calls or WhatsApp messages. Please reply to the email with the payment receipt that you received at the time of booking regarding the cancellation.</li>
      <li>Free Cancellation up to 45 days before the departure date. (Booking amount is non-refundable)</li>
      <li>44 Days to 30 days of Departure date. 10% of the total Trip cost along with the booking amount will be charged as a cancellation fee.</li>
      <li>29 Days to 20 Days of Departure date. 25% of the total trip cost along with the booking amount will be charged as a cancellation fee.</li>
      <li>19 Days to 10 Days of Departure date. 50% of the total trip cost along with the booking amount will be charged as a cancellation fee.</li>
      <li>10 Days to 6 Days of Departure date. 75% of the total trip cost will be charged as a cancellation fee.</li>
      <li>6 Days to Trip Departure date. 100% of the total trip cost will be charged as a cancellation fee.</li>
      <li>No Show. No refund.</li>
      <li>Note : All the reimbursements/refunds will incur a Payment Gateway charge of 2.5% & GST of 5% respectively. The Payment Gateway charges will not be levied on the customers who have made their transactions via UPI.</li>
      <li>Please also note that the booking amount for all packages/trips is non-refundable whereas a Credit Note can be issued if the cancellation is made 3 days before the departure date (at the discretion of the organization)</li>
      <li>In case of government orders, harsh weather conditions, protests, landslides, or any other unforeseen circumstances, we work out the best possible alternate plans or trips/treks. At times even if certain activities are canceled, the organization provides the best alternative but no refunds would be provided.</li>
      <li>If a trip/trek is called off at the last moment due to a natural calamity/unforeseen
      circumstances (like rain, snowfall, earthquake, landslides, strike, bandh, etc.), GIC will issue a refund in the form of GIC Cash and if possible will provide an alternative as well.</li>
      <li>The amount can be redeemed for the same or another trip/trek in the next 365 days from the departure date.</li>
      <li>If a trek/trip cannot be completed due to natural calamity/unforeseen circumstances (like rain, snowfall, earthquake, landslides, strike, bandh, etc.). No refund would be provided.</li>
      <li>Any extra expense incurred due to any natural calamity/unforeseen circumstances (like rain, snowfall, earthquake, landslides, strike, bandh, etc.), will be borne by the customer. The company will not be liable.</li>
      <li>Cancellations policy will differ during the peak season and for popular places.</li>
    </ul>
  </div>
</section>
