<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'T&C.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Disclaimer</h3>
</section>

<section class="disclaimer-wrapper">
  <div class="container">
    <h2>Disclaimer</h2>
    <p>Ghumo India Community provides the https://www.ghumoindiacommunity.com/ Web site as a service to the public and Web site owners.

      Ghumo India Community is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Website is correct, complete, and up-to-date.

      Although the Ghumo India Community Website may include links providing direct access to other Internet resources, including Web sites, Ghumo India Community is not responsible for the accuracy or content of information contained in these sites.

    Links from ghumoindiacommunity.com to third-party sites do not constitute an endorsement by Ghumo India Community of the parties or their products and services. The appearance on the Web site of advertisements and product or service information does not constitute an endorsement by Ghumo India Community.</p>
  </div>
</section>
