<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'about-banner.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Our Founder</h3>
</section>

<section class="founder-listing">
  <div class="container">
    <div class="row g-5 align-items-center justify-content-center mb-4">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="common-img">
          <img data-aos="fade-right" data-aos-duration="1000" data-aos-delay="50" src="<%= asset_path 'abir.jpg' %>" alt="owner">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="content-wrapper" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="50">
          <h3>Abir</h3>
          <p>A Passionate mountaineer and traveler, who’s been professionally engaged in Travel and trip leading for 5 years, He is also a environmentalist and talk about responsible tourism and to bring awareness among young travelers, Abir has a profound understanding of India and matching narration skills to seamlessly share his knowledge with the audience! Besides being our Storyteller, he also run the community which is most sustainable and safest travel community called ghumoindiacommunity He currently stays at indore with friends and travels extensively across the country, sometimes for work and sometime for story </p>
        </div>
      </div>
    </div>
    <div class="row g-5 align-items-center justify-content-center mb-4">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="content-wrapper" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
          <h3>shubham</h3>
          <p>A dedicated traveler and mentor with 6 years of experience in the travel industry. He has extensively explored various parts of India, leading trips, telling stories, sharing travel philosophy and providing guidance to fellow travelers. With a deep knowledge of India’s diverse regions, he also manages a sustainable and secure travel community called Ghumo India Community. Currently based in Indore, he offers an enriching experience that combines historical insights with enjoyable walks.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="common-img right-img">
          <img data-aos="fade-left" data-aos-duration="1000" data-aos-delay="100" src="<%= asset_path 'shubham.jpg' %>" alt="owner">
        </div>
      </div>
    </div>
    <div class="row g-5 align-items-center justify-content-center mb-4">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="common-img">
          <img data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150" src="<%= asset_path 'praveen.jpg' %>" alt="owner">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="content-wrapper" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="150">
          <h3>Praveen</h3>
          <p>A historical and geographical lecturer who’s been professionally engaged in Travel for last 4 years Praveen has a deep historical and geographical knowledge of India and matching narration skills to seamlessly share his knowledge with the audience! Along with he also run the community which is most sustainable and safest travel community called ghumoindiacommunity.He currently stays at indore with his friends amd walks with him will create an great historical knowledge of India</p>
        </div>
      </div>
    </div>
  </div>
</section>