<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'T&C.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">PAYMENT POLICY</h3>
</section>

<section class="term-condition-wrapper">
  <div class="container">
    <h2>PAYMENT POLICY</h2>
    <ul>
      <li>15 to 20 days or more from the date of departure: 50% of the tour cost (Booking Amount) to be paid by Customer.</li>
      <li>10 to 15 days from the date of departure: 100% of the tour cost to be paid by Customer.</li>
      <li>Any flight bookings, Train bookings shall be paid 100% in advance.</li>
      <li>Payments by credit card incur an extra handling fee (as charged by the payment gateways)-2.5% for Indian credit cards.</li>
      <li>4.5% for international credit cards over the invoiced amount.</li>
    </ul>
  </div>
</section>