<div class="container">
  <section class="payment-details-wrap">
    <div class="pay-heading">
      <img src="<%= asset_path 'payment.svg' %>" alt="pay us">
      <h1>Pay us at</h1>
    </div>
    <div class="row g-3">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
        <div class="payment-type">
          <div class="common-bank-details">
            <h3>Bank Transfer</h3>
            <img src="<%= asset_path 'hdfc-logo.webp' %>" alt="bank icon">
            <p><span>A/C No:</span> 50200066752701</p>
            <p><span>A/C Name:</span> GHUMO INDIA COMMUNITY</p>
            <p><span>IFSC Code:</span> HDFC0000036</p>
            <p><span>Branch:</span> TRADE HOUSE</p>
            <p class="mb-0"><span>Account Type:</span> CURRENT</p>
          </div>
          <div class="common-bank-details">
            <h3>UPI Payment</h3>
            <p><span>UPI:</span> ghumoindiacommunity@ybl</p>
          </div>
          <div class="common-bank-details">
            <h3>Razorpay Link</h3>
            <h4>Use this link to enter the amount and pay securely via Razorpay:</h4>
            <a href="https://razorpay.me/@ghumoindiacommunity">https://razorpay.me/@ghumoindiacommunity</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="payment-note">
          <h3>Note:</h3>
          <ul>
            <li>To ensure your payment is securely processed, please make payments only to the official bank
            details provided on our website.</li>
            <li>Do not make payments to any other account. We will not be responsible for any losses
            incurred if payments are made to unauthorized bank accounts.</li>
            <li>If you have any questions or concerns, please contact us on - 89825-05725</li>
            <li>A payment getaway charge 3% will be levied on using above given payment link.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>