<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'privacy.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Privacy Policy</h3>
</section>

<section class="privacy-policy-wrapper">
  <div class="container">
    <h2>PRIVACY POLICY</h2>
    <h3>INTRODUCTION</h3>
    <p>The privacy policy is an online document that makes sure a user’s online information is protected and it is not used for anything that intends them any harm. All the pointers given under our privacy policy are valid under the Information Technology Act, 2000. This document is updated from time to time by Ghumo india community for the betterment of the same. The current version of the privacy policy is updated on 5th March 2023</p>
    <h3>DECLARATION</h3>
    <p>Ghumo india community  declares that we are not going to use any user information whatsoever in bad faith and/or sell the information to any third party under any condition. But if necessary and in case a legal notice is served to us in case of any legal matter, whatsoever it may be, we’re going to share the user information under the Right to Informations Act. Additionally, any legal issues will be sorted out in Indore Court only as we’re a firm registered in Indore.</p>
    <h3>WEBSITE PRIVACY</h3>
    <p>Our website is standing there for providing services to the users and in order to that, we may ask you for your information at times. We assure you that all the information that is gathered from you is being used for facilitation purposes only and not for any malicious activity. We do not encourage data leaks or any similar schemes, which is why your information will be kept protected and only be shared with the members of the company who are associated with the facilitation of service for the user only.</p>
    <h3>WEBSITE DATA COLLECTION</h3>
    <p>The website asks a user for personal information including email, name, phone number, along with a set of other sets of personal information. This information is necessary for the proper execution of the services that we’re facilitating.</p>
    <h3>COOKIES USAGE POLICY</h3>
    <p>We use cookies on our website to improve user experience and enhance the load time for the users interacting with our website. You may opt-out of the same if you want to by disabling the cookies for our website using the web browsers that you use to visit our website.</p>
    <h3>OUTBOUND LINKS TO THIRD-PARTY WEBSITES</h3>
    <p>We have outbound links added to our website which will take you to a third-party website which will be completely unrelated to us. We add these links after verifying that they are operating on the standard norms and that they host good content/service. But whatever you may incur onto a website other than ours is not our liability and in case of discrepancy, we cannot be held liable.</p>
    <h3>USER INFORMATION PROTECTION</h3>
    <p>Any user, whoever they may be, when they enter information onto our site, it’s just so that they can avail of our services and we have no hidden agenda from collecting the information. We do not share, export, or sell this information to anyone and the data is only shared with company employees who are involved in the facilitation of services only. Other than that, we have proper security features installed on our website so that the digital data would not be accessible to anyone as well.</p>
    <h3>GRIEVANCE OFFICER</h3>
    <p>In the case of any discrepancy or query that you have regarding our privacy policy, please do follow up with our grievance officer on the given below information.</p>
    <h4>Contact Us, If you have any questions about this Privacy Policy, please contact us by email: info@ghumoindiacommunity.com</h4>
  </div>
</section>