<!-- hero banner -->
<section class="hero-common-banner">
  <img src="<%= asset_path 'T&C.jpg' %>" alt="hero images">
  <span class="overlay"></span>
  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Terms & Conditions</h3>
</section>

<section class="term-condition-wrapper">
  <div class="container">
    <h2>Terms & Conditions</h2>
    <ul>
      <li>Booking Amount is Non Refundable.</li>
      <li>All our bookings are on the basis of First come First policy.</li>
      <li>Bookings are non-transferable.</li>
      <li>In case of cancellation of bookings from the consumer’s end, no booking amount shall be refunded in any case.</li>
      <li>Due to the corona pandemic or any other uncontrollable event if trip gets postponed, the trip will be rescheduled to a later date and thus, no refunds will be made in any case.</li>
      <li>GIC reserve the rights to rearrange the itinerary due to any kind of unavoidable events (i.e whether condition, political condition or any others).</li>
      <li>An original individual identification proof Aadhar card, Driving License, Voter ID, Passport must be carried by the traveler during the journey.</li>
      <li>GIC will not be responsible for any man made or natural calamity</li>
      <li>All the sports are safe and approved by the state ministry, activities performed will be under the guidance of highly trained professionals. However, in case of any injury or accident during the adventure sport and travel GIC will not be liable.</li>
      <li>In case of any updates in the booking, the consumer has to give a prior notice to GIC.</li>
      <li>In case of inappropriate weather or any change in local government norms, activities mentioned above can be scheduled or canceled without any prior notice.</li>
      <li>Any mischief or inappropriate attitude will not be tolerated and GIC reserves all rights to cancel such bookings without any refund at any time in between the trip.</li>
      <li>GIC can cancel the trip or individual booking without any prior notice.</li>
    </ul>
  </div>
</section>